#dAsPic{
 height:600px;
 overflow:auto;
 display:none;
}

.asPicPhS {
  width: 100%;
  float: left;
  border:1px solid #7B7D84;
}
.asPicPhS img {
  width: 100%;
  height: auto;
}
.asPicPhS figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.asPicPhS figcaption {
  display: none;
}