.u-bg-overlay__inner {
  z-index: 3;
  position: relative; }


/*--Button Styles--*/
.btn {
  position: relative;
  transition: .2s ease;
  cursor: pointer; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
  box-shadow: none; }

.btn-success {
  background-color: #72c02c;
  border-color: #72c02c; }

.btn-success:hover {
  color: #fff;
  background-color: #6db82a;
  border-color: #6db82a; }

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 2px rgba(114, 192, 44, 0.5); }

.btn-success.disabled, .btn-success:disabled {
  background-color: #72c02c;
  border-color: #72c02c; }

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  background-color: #6db82a;
  border-color: #6db82a; }

/* Outline Button Brown */
.u-btn-outline-brown {
  color: #9c8061;
  border-color: #9c8061;
  background-color: transparent; }

.u-btn-outline-brown:focus, .u-btn-outline-brown.active {
  color: #fff;
  background-color: #9c8061; }

.u-btn-outline-brown:hover {
  color: #fff;
  background-color: #9c8061; }

.u-btn-outline-brown.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-brown.u-btn-hover-v1-1::after, .u-btn-outline-brown.u-btn-hover-v1-1:hover::after {
  background-color: #a68d70; }

.u-btn-outline-brown.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-brown.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-brown.u-btn-hover-v1-2::after, .u-btn-outline-brown.u-btn-hover-v1-2:hover::after {
  background-color: #a68d70; }

.u-btn-outline-brown.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-brown.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-brown.u-btn-hover-v1-3::after, .u-btn-outline-brown.u-btn-hover-v1-3:hover::after {
  background-color: #a68d70; }

.u-btn-outline-brown.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-brown.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-brown.u-btn-hover-v1-4::after, .u-btn-outline-brown.u-btn-hover-v1-4:hover::after {
  background-color: #a68d70; }

.u-btn-outline-brown.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-brown.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-brown.u-btn-hover-v2-1::after, .u-btn-outline-brown.u-btn-hover-v2-1:hover::after {
  background-color: #a68d70; }

.u-btn-outline-brown.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-brown.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-brown.u-btn-hover-v2-2::after, .u-btn-outline-brown.u-btn-hover-v2-2:hover::after {
  background-color: #a68d70; }

.u-btn-outline-brown.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/* Button Outline Red */
.u-btn-outline-red {
  color: #f00;
  border-color: #f00;
  background-color: transparent; }

.u-btn-outline-red:focus, .u-btn-outline-red.active {
  color: #fff;
  background-color: #f00; }

.u-btn-outline-red:hover {
  color: #fff;
  background-color: #f00; }

.u-btn-outline-red.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-red.u-btn-hover-v1-1::after, .u-btn-outline-red.u-btn-hover-v1-1:hover::after {
  background-color: #ff1a1a; }

.u-btn-outline-red.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-red.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-red.u-btn-hover-v1-2::after, .u-btn-outline-red.u-btn-hover-v1-2:hover::after {
  background-color: #ff1a1a; }

.u-btn-outline-red.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-red.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-red.u-btn-hover-v1-3::after, .u-btn-outline-red.u-btn-hover-v1-3:hover::after {
  background-color: #ff1a1a; }

.u-btn-outline-red.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-red.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-red.u-btn-hover-v1-4::after, .u-btn-outline-red.u-btn-hover-v1-4:hover::after {
  background-color: #ff1a1a; }

.u-btn-outline-red.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-red.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-red.u-btn-hover-v2-1::after, .u-btn-outline-red.u-btn-hover-v2-1:hover::after {
  background-color: #ff1a1a; }

.u-btn-outline-red.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-red.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-red.u-btn-hover-v2-2::after, .u-btn-outline-red.u-btn-hover-v2-2:hover::after {
  background-color: #ff1a1a; }

.u-btn-outline-red.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/* Button Brown */
.u-btn-brown {
  color: #fff;
  background-color: #9c8061; }

.u-btn-brown:hover, .u-btn-brown.active {
  border-color: #b09980;
  background-color: #b09980; }

.u-btn-brown:hover, .u-btn-brown:focus, .u-btn-brown.active {
  color: #fff; }

.u-btn-brown.g-btn-hover-reset:hover, .u-btn-brown.g-btn-hover-reset.active {
  background-color: #9c8061;
  border-color: #9c8061; }

.u-btn-brown.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-1::after, .u-btn-brown.u-btn-hover-v1-1:hover::after {
  background-color: #a68d70; }

.u-btn-brown.u-btn-hover-v1-1:hover {
  background-color: #9c8061;
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-2::after, .u-btn-brown.u-btn-hover-v1-2:hover::after {
  background-color: #a68d70; }

.u-btn-brown.u-btn-hover-v1-2:hover {
  background-color: #9c8061;
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-3::after, .u-btn-brown.u-btn-hover-v1-3:hover::after {
  background-color: #a68d70; }

.u-btn-brown.u-btn-hover-v1-3:hover {
  background-color: #9c8061;
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v1-4::after, .u-btn-brown.u-btn-hover-v1-4:hover::after {
  background-color: #a68d70; }

.u-btn-brown.u-btn-hover-v1-4:hover {
  background-color: #9c8061;
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v2-1::after, .u-btn-brown.u-btn-hover-v2-1:hover::after {
  background-color: #a68d70; }

.u-btn-brown.u-btn-hover-v2-1:hover {
  background-color: #9c8061;
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-brown.u-btn-hover-v2-2::after, .u-btn-brown.u-btn-hover-v2-2:hover::after {
  background-color: #a68d70; }

.u-btn-brown.u-btn-hover-v2-2:hover {
  background-color: #9c8061;
  overflow: hidden; }

/*--Outline Button Teal--*/
.u-btn-outline-teal {
  color: #18ba9b;
  border-color: #18ba9b;
  background-color: transparent; }

.u-btn-outline-teal:focus, .u-btn-outline-teal.active {
  color: #fff;
  background-color: #18ba9b; }

.u-btn-outline-teal:hover {
  color: #fff;
  background-color: #18ba9b; }

.u-btn-outline-teal.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-teal.u-btn-hover-v1-1::after, .u-btn-outline-teal.u-btn-hover-v1-1:hover::after {
  background-color: #1bd1ae; }

.u-btn-outline-teal.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-teal.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-teal.u-btn-hover-v1-2::after, .u-btn-outline-teal.u-btn-hover-v1-2:hover::after {
  background-color: #1bd1ae; }

.u-btn-outline-teal.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-teal.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-teal.u-btn-hover-v1-3::after, .u-btn-outline-teal.u-btn-hover-v1-3:hover::after {
  background-color: #1bd1ae; }

.u-btn-outline-teal.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-teal.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-teal.u-btn-hover-v1-4::after, .u-btn-outline-teal.u-btn-hover-v1-4:hover::after {
  background-color: #1bd1ae; }

.u-btn-outline-teal.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-teal.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-teal.u-btn-hover-v2-1::after, .u-btn-outline-teal.u-btn-hover-v2-1:hover::after {
  background-color: #1bd1ae; }

.u-btn-outline-teal.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-teal.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-teal.u-btn-hover-v2-2::after, .u-btn-outline-teal.u-btn-hover-v2-2:hover::after {
  background-color: #1bd1ae; }

.u-btn-outline-teal.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/*--Outline Button Primary--*/
.u-btn-outline-primary {
  color: #72c02c;
  border-color: #72c02c;
  background-color: transparent; }

.u-btn-outline-primary:focus, .u-btn-outline-primary.active {
  color: #fff;
  background-color: #72c02c; }

.u-btn-outline-primary:hover {
  color: #fff;
  background-color: #72c02c; }

.u-btn-outline-primary.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v1-1::after, .u-btn-outline-primary.u-btn-hover-v1-1:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-primary.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v1-2::after, .u-btn-outline-primary.u-btn-hover-v1-2:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-primary.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v1-3::after, .u-btn-outline-primary.u-btn-hover-v1-3:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-primary.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v1-4::after, .u-btn-outline-primary.u-btn-hover-v1-4:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-primary.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v2-1::after, .u-btn-outline-primary.u-btn-hover-v2-1:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-primary.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v2-2::after, .u-btn-outline-primary.u-btn-hover-v2-2:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-primary.u-btn-hover-v3-1 {
  overflow: hidden; }

.u-btn-outline-primary.u-btn-hover-v3-1::after, .u-btn-outline-primary.u-btn-hover-v3-1:hover::after {
  background-color: #7fd135; }

.u-btn-outline-primary.u-btn-hover-v3-1:hover {
  overflow: hidden;
  background-color: transparent; }

/* Outline Button Cyan */
.u-btn-outline-cyan {
  color: #00bed6;
  border-color: #00bed6;
  background-color: transparent; }

.u-btn-outline-cyan:focus, .u-btn-outline-cyan.active {
  color: #fff;
  background-color: #00bed6; }

.u-btn-outline-cyan:hover {
  color: #fff;
  background-color: #00bed6; }

.u-btn-outline-cyan.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-cyan.u-btn-hover-v1-1::after, .u-btn-outline-cyan.u-btn-hover-v1-1:hover::after {
  background-color: #00d5f0; }

.u-btn-outline-cyan.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-cyan.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-cyan.u-btn-hover-v1-2::after, .u-btn-outline-cyan.u-btn-hover-v1-2:hover::after {
  background-color: #00d5f0; }

.u-btn-outline-cyan.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-cyan.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-cyan.u-btn-hover-v1-3::after, .u-btn-outline-cyan.u-btn-hover-v1-3:hover::after {
  background-color: #00d5f0; }

.u-btn-outline-cyan.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-cyan.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-cyan.u-btn-hover-v1-4::after, .u-btn-outline-cyan.u-btn-hover-v1-4:hover::after {
  background-color: #00d5f0; }

.u-btn-outline-cyan.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-cyan.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-cyan.u-btn-hover-v2-1::after, .u-btn-outline-cyan.u-btn-hover-v2-1:hover::after {
  background-color: #00d5f0; }

.u-btn-outline-cyan.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-cyan.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-cyan.u-btn-hover-v2-2::after, .u-btn-outline-cyan.u-btn-hover-v2-2:hover::after {
  background-color: #00d5f0; }

.u-btn-outline-cyan.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/* Outline Button Blue */
.u-btn-outline-blue {
  color: #3398dc;
  border-color: #3398dc;
  background-color: transparent; }

.u-btn-outline-blue:focus, .u-btn-outline-blue.active {
  color: #fff;
  background-color: #3398dc; }

.u-btn-outline-blue:hover {
  color: #fff;
  background-color: #3398dc; }

.u-btn-outline-blue.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-blue.u-btn-hover-v1-1::after, .u-btn-outline-blue.u-btn-hover-v1-1:hover::after {
  background-color: #49a3e0; }

.u-btn-outline-blue.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-blue.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-blue.u-btn-hover-v1-2::after, .u-btn-outline-blue.u-btn-hover-v1-2:hover::after {
  background-color: #49a3e0; }

.u-btn-outline-blue.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-blue.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-blue.u-btn-hover-v1-3::after, .u-btn-outline-blue.u-btn-hover-v1-3:hover::after {
  background-color: #49a3e0; }

.u-btn-outline-blue.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-blue.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-blue.u-btn-hover-v1-4::after, .u-btn-outline-blue.u-btn-hover-v1-4:hover::after {
  background-color: #49a3e0; }

.u-btn-outline-blue.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-blue.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-blue.u-btn-hover-v2-1::after, .u-btn-outline-blue.u-btn-hover-v2-1:hover::after {
  background-color: #49a3e0; }

.u-btn-outline-blue.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-blue.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-blue.u-btn-hover-v2-2::after, .u-btn-outline-blue.u-btn-hover-v2-2:hover::after {
  background-color: #49a3e0; }

.u-btn-outline-blue.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/* Button Red */
.u-btn-red {
  color: #fff;
  background-color: #f00; }

.u-btn-red:hover, .u-btn-red.active {
  border-color: #ff3333;
  background-color: #ff3333; }

.u-btn-red:hover, .u-btn-red:focus, .u-btn-red.active {
  color: #fff; }

.u-btn-red.g-btn-hover-reset:hover, .u-btn-red.g-btn-hover-reset.active {
  background-color: #f00;
  border-color: #f00; }

.u-btn-red.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-1::after, .u-btn-red.u-btn-hover-v1-1:hover::after {
  background-color: #ff1a1a; }

.u-btn-red.u-btn-hover-v1-1:hover {
  background-color: #f00;
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-2::after, .u-btn-red.u-btn-hover-v1-2:hover::after {
  background-color: #ff1a1a; }

.u-btn-red.u-btn-hover-v1-2:hover {
  background-color: #f00;
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-3::after, .u-btn-red.u-btn-hover-v1-3:hover::after {
  background-color: #ff1a1a; }

.u-btn-red.u-btn-hover-v1-3:hover {
  background-color: #f00;
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-red.u-btn-hover-v1-4::after, .u-btn-red.u-btn-hover-v1-4:hover::after {
  background-color: #ff1a1a; }

.u-btn-red.u-btn-hover-v1-4:hover {
  background-color: #f00;
  overflow: hidden; }

.u-btn-red.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-red.u-btn-hover-v2-1::after, .u-btn-red.u-btn-hover-v2-1:hover::after {
  background-color: #ff1a1a; }

.u-btn-red.u-btn-hover-v2-1:hover {
  background-color: #f00;
  overflow: hidden; }

.u-btn-red.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-red.u-btn-hover-v2-2::after, .u-btn-red.u-btn-hover-v2-2:hover::after {
  background-color: #ff1a1a; }

.u-btn-red.u-btn-hover-v2-2:hover {
  background-color: #f00;
  overflow: hidden; }

/* Button Teal */
.u-btn-teal {
  color: #fff;
  background-color: #18ba9b; }

.u-btn-teal:hover, .u-btn-teal.active {
  border-color: #22e3be;
  background-color: #22e3be; }

.u-btn-teal:hover, .u-btn-teal:focus, .u-btn-teal.active {
  color: #fff; }

.u-btn-teal.g-btn-hover-reset:hover, .u-btn-teal.g-btn-hover-reset.active {
  background-color: #18ba9b;
  border-color: #18ba9b; }

.u-btn-teal.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-1::after, .u-btn-teal.u-btn-hover-v1-1:hover::after {
  background-color: #1bd1ae; }

.u-btn-teal.u-btn-hover-v1-1:hover {
  background-color: #18ba9b;
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-2::after, .u-btn-teal.u-btn-hover-v1-2:hover::after {
  background-color: #1bd1ae; }

.u-btn-teal.u-btn-hover-v1-2:hover {
  background-color: #18ba9b;
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-3::after, .u-btn-teal.u-btn-hover-v1-3:hover::after {
  background-color: #1bd1ae; }

.u-btn-teal.u-btn-hover-v1-3:hover {
  background-color: #18ba9b;
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v1-4::after, .u-btn-teal.u-btn-hover-v1-4:hover::after {
  background-color: #1bd1ae; }

.u-btn-teal.u-btn-hover-v1-4:hover {
  background-color: #18ba9b;
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v2-1::after, .u-btn-teal.u-btn-hover-v2-1:hover::after {
  background-color: #1bd1ae; }

.u-btn-teal.u-btn-hover-v2-1:hover {
  background-color: #18ba9b;
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-teal.u-btn-hover-v2-2::after, .u-btn-teal.u-btn-hover-v2-2:hover::after {
  background-color: #1bd1ae; }

.u-btn-teal.u-btn-hover-v2-2:hover {
  background-color: #18ba9b;
  overflow: hidden; }


/*--Headers--*/
  .u-header {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 0.92857rem;
  z-index: 101; }

.u-header .navbar-nav:not([class*="u-main-nav-v"]) .nav-link:focus,
.u-header .navbar-nav:not([class*="u-main-nav-v"]) .nav-link:hover {
  color: #72C02C; }

/*--Heading-v6--*/
.u-heading-v6__title {
  display: inline-block;
  position: relative; }

.u-heading-v6-1 .u-heading-v6__title::after, .u-heading-v6-1.text-center .u-heading-v6__title::before, .u-heading-v6-1.text-right .u-heading-v6__title::before, .u-heading-v6-2 .u-heading-v6__title::after, .u-heading-v6-2.text-center .u-heading-v6__title::before, .u-heading-v6-2.text-right .u-heading-v6__title::before {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 5rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: inherit; }

/*--Heading-v6-1--*/
.u-heading-v6-2 .u-heading-v6__title,
.u-heading-v6-2 .u-heading-v6__subtitle {
  padding-left: 6.42857rem; }

.u-heading-v6-2.text-center .u-heading-v6__title,
.u-heading-v6-2.text-right .u-heading-v6__title,
.u-heading-v6-2.text-center .u-heading-v6__subtitle,
.u-heading-v6-2.text-right .u-heading-v6__subtitle {
  padding-right: 6.42857rem; }

.u-heading-v6-2.text-right .u-heading-v6__title,
.u-heading-v6-2.text-right .u-heading-v6__subtitle {
  padding-left: 0; }

.u-heading-v6-2 .u-heading-v6__title::after {
  left: 0; }

.u-heading-v6-2.text-center .u-heading-v6__title::before {
  right: 0; }

.u-heading-v6-2.text-right .u-heading-v6__title::before {
  right: 0; }

.u-heading-v6-2.text-right .u-heading-v6__title::after {
  display: none; }


/* Pagination v1 */
.u-pagination-v1__item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  transition: all .3s ease; }

.u-pagination-v1__item--active, .u-pagination-v1__item:hover, .u-pagination-v1__item:focus {
  text-decoration: none;
  cursor: pointer; }

.u-pagination-v1__item-info {
  display: inline-block;
  text-align: center;
  text-decoration: none; }

.u-pagination-v1__item--disabled {
  opacity: .5;
  pointer-events: none; }

  /* Pagination Style v4 */
.u-pagination-v1-4 {
  color: #333;
  border-color: transparent; }

.u-pagination-v1-4:hover, .u-pagination-v1-4:focus {
  color: #72c02c;
  border-color: #72c02c; }

.u-pagination-v1-4--active {
  color: #fff;
  background-color: #72c02c;
  border-color: #72c02c; }

.u-pagination-v1-4--active:hover, .u-pagination-v1-4--active:focus {
  color: #fff; }


.nav-stud li.active {
    border-color: #72c02c #eee #fff;
}

/*--------------------------------------*/
.u-label {
  display: inline-block;
  padding: .35rem .58rem;
  font-size: .9rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  /* Label Size
  ------------------------------------*/
  /* Label Styles
  ------------------------------------*/
  /* Label Num
  ------------------------------------*/ }

.u-label:empty {
  display: none; }

.btn .u-label {
  position: relative;
  top: -1px; }

.u-label-default {
  background-color: #777; }

.u-label-default[href]:hover, .u-label-default[href]:focus {
  background-color: #555; }

.u-label-primary {
  background-color: #5cb85c; }

.u-label-primary[href]:hover, .u-label-primary[href]:focus {
  background-color: #55b555; }

.u-label-success {
  background-color: #5cb85c; }

.u-label-success[href]:hover, .u-label-success[href]:focus {
  background-color: #55b555; }

.u-label-info {
  background-color: #5bc0de; }

.u-label-info[href]:hover, .u-label-info[href]:focus {
  background-color: #53bddc; }

.u-label-warning {
  background-color: #f0ad4e; }

.u-label-warning[href]:hover, .u-label-warning[href]:focus {
  background-color: #efa945; }

.u-label-danger {
  background-color: #d9534f; }

.u-label-danger[href]:hover, .u-label-danger[href]:focus {
  background-color: #d74b47; }

.u-label.g-rounded-10 {
  padding: .35rem .7rem; }

.u-label--sm {
  font-size: .8rem; }

.u-label--lg {
  font-size: 1.1rem; }

.u-label.u-label-with-icon {
  padding: .5rem .85rem; }

.u-label.u-label-with-icon i {
  margin-right: .5rem; }

.u-label-num {
  min-width: 2rem;
  height: 2rem;
  padding: 0 .35rem;
  line-height: 2rem; }

.u-label-num.u-label--sm {
  min-width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem; }

.u-label-num.u-label--lg {
  min-width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem; }

  /*--------------------------*/
.form-control {
  border-color: #ccc; }

.form-control-md {
  padding: .8rem 1rem .6rem; }

.form-control,
.form-control:focus {
  color: #555; }

.form-control:focus,
.custom-select:focus {
  border-color: #72c02c; }

.form-control::-webkit-input-placeholder {
  color: inherit;
  opacity: .5; }

.form-control:-ms-input-placeholder {
  color: inherit;
  opacity: .5; }

.form-control::placeholder {
  color: inherit;
  opacity: .5; }

/* ---------------------------------*/
.btn-xs {
  line-height: 1.4;
  padding: 0.14286rem 0.5rem;
  font-size: 0.78571rem; }

.btn-md {
  line-height: 1.4;
  padding: 0.57143rem 1.42857rem;
  font-size: 1.07143rem; }

.btn-xl {
  line-height: 1.4;
  padding: 0.92857rem 1.85714rem;
  font-size: 1.28571rem; }

.btn-xxl {
  line-height: 1.4;
  padding: 1.07143rem 2.14286rem;
  font-size: 1.5rem; }

.input-group-addon {
  min-width: 38px;
  background-color: transparent;
  border-color: #ccc;
  transition: border-color .15s ease-in-out 0s; }

  /*----------------------------------------*/
  .u-btn-primary {
  color: #fff;
  background-color: #72c02c; }

.u-btn-primary:hover, .u-btn-primary.active {
  border-color: #8cd54a;
  background-color: #8cd54a; }

.u-btn-primary:hover, .u-btn-primary:focus, .u-btn-primary.active {
  color: #fff; }

.u-btn-primary.g-btn-hover-reset:hover, .u-btn-primary.g-btn-hover-reset.active {
  background-color: #72c02c;
  border-color: #72c02c; }

.u-btn-primary.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-1::after, .u-btn-primary.u-btn-hover-v1-1:hover::after {
  background-color: #7fd135; }

.u-btn-primary.u-btn-hover-v1-1:hover {
  background-color: #72c02c;
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-2::after, .u-btn-primary.u-btn-hover-v1-2:hover::after {
  background-color: #7fd135; }

.u-btn-primary.u-btn-hover-v1-2:hover {
  background-color: #72c02c;
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-3::after, .u-btn-primary.u-btn-hover-v1-3:hover::after {
  background-color: #7fd135; }

.u-btn-primary.u-btn-hover-v1-3:hover {
  background-color: #72c02c;
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v1-4::after, .u-btn-primary.u-btn-hover-v1-4:hover::after {
  background-color: #7fd135; }

.u-btn-primary.u-btn-hover-v1-4:hover {
  background-color: #72c02c;
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v2-1::after, .u-btn-primary.u-btn-hover-v2-1:hover::after {
  background-color: #7fd135; }

.u-btn-primary.u-btn-hover-v2-1:hover {
  background-color: #72c02c;
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-primary.u-btn-hover-v2-2::after, .u-btn-primary.u-btn-hover-v2-2:hover::after {
  background-color: #7fd135; }

.u-btn-primary.u-btn-hover-v2-2:hover {
  background-color: #72c02c;
  overflow: hidden; }

/* Outline Button Yellow */
.u-btn-outline-yellow {
  color: #555;
  border-color: #ebc71d;
  background-color: transparent; }

.u-btn-outline-yellow:focus, .u-btn-outline-yellow.active {
  color: #555;
  background-color: #ebc71d; }

.u-btn-outline-yellow:hover {
  color: #555;
  background-color: #ebc71d; }

.u-btn-outline-yellow.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-outline-yellow.u-btn-hover-v1-1::after, .u-btn-outline-yellow.u-btn-hover-v1-1:hover::after {
  background-color: #edcd34; }

.u-btn-outline-yellow.u-btn-hover-v1-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-yellow.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-outline-yellow.u-btn-hover-v1-2::after, .u-btn-outline-yellow.u-btn-hover-v1-2:hover::after {
  background-color: #edcd34; }

.u-btn-outline-yellow.u-btn-hover-v1-2:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-yellow.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-outline-yellow.u-btn-hover-v1-3::after, .u-btn-outline-yellow.u-btn-hover-v1-3:hover::after {
  background-color: #edcd34; }

.u-btn-outline-yellow.u-btn-hover-v1-3:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-yellow.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-outline-yellow.u-btn-hover-v1-4::after, .u-btn-outline-yellow.u-btn-hover-v1-4:hover::after {
  background-color: #edcd34; }

.u-btn-outline-yellow.u-btn-hover-v1-4:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-yellow.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-outline-yellow.u-btn-hover-v2-1::after, .u-btn-outline-yellow.u-btn-hover-v2-1:hover::after {
  background-color: #edcd34; }

.u-btn-outline-yellow.u-btn-hover-v2-1:hover {
  overflow: hidden;
  background-color: transparent; }

.u-btn-outline-yellow.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-outline-yellow.u-btn-hover-v2-2::after, .u-btn-outline-yellow.u-btn-hover-v2-2:hover::after {
  background-color: #edcd34; }

.u-btn-outline-yellow.u-btn-hover-v2-2:hover {
  overflow: hidden;
  background-color: transparent; }

/* Button Blue */
.u-btn-blue {
  color: #fff;
  background-color: #3398dc; }

.u-btn-blue:hover, .u-btn-blue.active {
  border-color: #5faee3;
  background-color: #5faee3; }

.u-btn-blue:hover, .u-btn-blue:focus, .u-btn-blue.active {
  color: #fff; }

.u-btn-blue.g-btn-hover-reset:hover, .u-btn-blue.g-btn-hover-reset.active {
  background-color: #3398dc;
  border-color: #3398dc; }

.u-btn-blue.u-btn-hover-v1-1 {
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-1::after, .u-btn-blue.u-btn-hover-v1-1:hover::after {
  background-color: #49a3e0; }

.u-btn-blue.u-btn-hover-v1-1:hover {
  background-color: #3398dc;
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-2 {
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-2::after, .u-btn-blue.u-btn-hover-v1-2:hover::after {
  background-color: #49a3e0; }

.u-btn-blue.u-btn-hover-v1-2:hover {
  background-color: #3398dc;
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-3 {
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-3::after, .u-btn-blue.u-btn-hover-v1-3:hover::after {
  background-color: #49a3e0; }

.u-btn-blue.u-btn-hover-v1-3:hover {
  background-color: #3398dc;
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-4 {
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v1-4::after, .u-btn-blue.u-btn-hover-v1-4:hover::after {
  background-color: #49a3e0; }

.u-btn-blue.u-btn-hover-v1-4:hover {
  background-color: #3398dc;
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v2-1 {
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v2-1::after, .u-btn-blue.u-btn-hover-v2-1:hover::after {
  background-color: #49a3e0; }

.u-btn-blue.u-btn-hover-v2-1:hover {
  background-color: #3398dc;
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v2-2 {
  overflow: hidden; }

.u-btn-blue.u-btn-hover-v2-2::after, .u-btn-blue.u-btn-hover-v2-2:hover::after {
  background-color: #49a3e0; }

.u-btn-blue.u-btn-hover-v2-2:hover {
  background-color: #3398dc;
  overflow: hidden; }




  /*------------------------------------
  Progress Bars
------------------------------------*/
.progress-bar {
  min-height: 0 !important; }

.u-progress__pointer-v1 {
  position: absolute;
  top: 50%;
  right: 0;
  width: 42px;
  height: 42px;
  margin: -21px -21px 0 0;
  background-color: transparent;
  line-height: 42px;
  z-index: 1; }

.u-progress__pointer-v2 {
  position: absolute;
  bottom: 100%;
  right: 0;
  min-width: 46px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  margin-bottom: 5px;
  background-color: transparent;
  z-index: 1; }

.u-progress__pointer-v2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-style: solid;
  border-color: #72c02c transparent;
  border-width: 5px 5px 0; }

.u-progress__pointer-v3 {
  position: relative;
  float: right;
  white-space: nowrap; }

.u-progress__pointer-v3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -10px;
  margin-right: -5px;
  border-style: solid;
  border-color: #72c02c transparent;
  border-width: 5px 5px 0; }

[class*="u-progress-bar-vertical"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.u-progress-bar-vertical-v1 {
  height: 200px; }

/*------------------------------------
  Progress Bars Sizes
------------------------------------*/
.progress {
  font-size: 1rem;
  line-height: inherit;
  background-color: #eee; }

.progress-bar {
  height: auto;
  min-height: 12px;
  background-color: #72c02c; }


.u-table--v1 td,
.u-table--v1 th {
  padding: 8px; }

.u-table--v1 thead th {
  border-bottom-width: 1px; }

/* Tabs v1
------------------------------------*/
@media (min-width: 768px) {
  [class*="u-nav-v1"].u-nav-rounded-3 .nav-link {
    border-radius: 3px; }
  [class*="u-nav-v1"].u-nav-rounded-5 .nav-link {
    border-radius: 5px; }
  [class*="u-nav-v1"].u-nav-rounded-7 .nav-link {
    border-radius: 7px; }
  [class*="u-nav-v1"].u-nav-rounded-10 .nav-link {
    border-radius: 10px; }
  .u-nav-v1-1 .nav-link.active {
    background-color: #eee; }
  .u-nav-v1-1.u-nav-primary .nav-link.active {
    color: #fff;
    background-color: #72c02c; }
  .u-nav-v1-1.u-nav-dark .nav-link.active {
    color: #fff;
    background-color: #333; }
  .u-nav-v1-1.u-nav-light .nav-link {
    color: #fff; }
  .u-nav-v1-1.u-nav-light .nav-link.active {
    color: #333;
    background-color: #fff; }
  .u-nav-v1-2 .nav-link {
    border: solid 1px transparent; }
  .u-nav-v1-2 .nav-link.active {
    border-color: #eee; }
  .u-nav-v1-2.u-nav-primary .nav-link.active {
    border-color: #72c02c; }
  .u-nav-v1-2.u-nav-dark .nav-link.active {
    border-color: #333; }
  .u-nav-v1-2.u-nav-light .nav-link {
    color: #fff; }
  .u-nav-v1-2.u-nav-light .nav-link.active {
    border-color: #fff; } }

/*------------------------------------
  Accordions
------------------------------------*/
.u-accordion__header {
  padding: 0.71429rem 1.07143rem; }

.u-accordion__body {
  padding: 1.07143rem; }

.u-accordion__control-icon i:nth-child(1) {
  display: none; }

.collapsed .u-accordion__control-icon i:nth-child(1) {
  display: inline; }

.u-accordion__control-icon i:nth-child(2) {
  display: inline; }

.collapsed .u-accordion__control-icon i:nth-child(2) {
  display: none; }

.u-accordion-line-icon-pro {
  position: relative;
  top: 2px; }

.u-accordion-color-primary .u-accordion__header [aria-expanded="true"] {
  color: #72c02c !important; }

.u-accordion-color-white .u-accordion__header [aria-expanded="true"] {
  color: #fff !important; }

.u-accordion-bg-primary .u-accordion__header [aria-expanded="true"] {
  background-color: #72c02c !important;
  border-color: #72c02c !important; }

.u-accordion-bg-white .u-accordion__header [aria-expanded="true"] {
  background-color: #fff !important;
  border-color: #fff !important; }

.u-accordion-brd-primary .u-accordion__header [aria-expanded="true"] {
  border-color: #72c02c !important; }

.u-accordion-brd-white .u-accordion__header [aria-expanded="true"] {
  border-color: #fff !important; }


/*------------------------------------
  Checkboxes
------------------------------------*/
.u-check {
  position: relative;
  cursor: pointer; }

.u-check-icon-font {
  display: inline-block;
  font-size: 0;
  padding-left: 1px;
  padding-right: 1px; }

.u-check-icon-font i {
  font-size: 22px;
  color: #ccc; }

.u-check-icon-font i::before {
  content: attr(data-uncheck-icon); }

.u-check-icon-checkbox, .u-check-icon-radio {
  display: inline-block; }

.u-check input[type="checkbox"]:checked + .u-check-icon-font i,
.u-check input[type="checkbox"]:checked + * .u-check-icon-font i,
.u-check input[type="radio"]:checked + .u-check-icon-font i,
.u-check input[type="radio"]:checked + * .u-check-icon-font i {
  color: #72c02c; }

.u-check input[type="checkbox"]:checked + .u-check-icon-font i::before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-font i::before,
.u-check input[type="radio"]:checked + .u-check-icon-font i::before,
.u-check input[type="radio"]:checked + * .u-check-icon-font i::before {
  content: attr(data-check-icon); }

.g-hide-check {
  display: block !important; }

.g-checked > * .g-hide-check,
input[type="checkbox"]:checked + .g-hide-check,
input[type="radio"]:checked + .g-hide-check,
input[type="checkbox"]:checked + * .g-hide-check,
input[type="radio"]:checked + * .g-hide-check {
  display: none !important; }

.g-show-check {
  display: none !important; }

.g-checked > * .g-show-check,
input[type="checkbox"]:checked + .g-show-check,
input[type="radio"]:checked + .g-show-check,
input[type="checkbox"]:checked + * .g-show-check,
input[type="radio"]:checked + * .g-show-check {
  display: block !important; }

  /*------------------------------------
  Checkboxes v8
------------------------------------*/
.u-check-icon-checkbox-v8, .u-check-icon-radio-v8 {
  cursor: pointer;
  display: block;
  width: 43px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: #ddd;
  border: solid 1px #ddd;
  border-radius: 12px; }

.u-check-icon-checkbox-v8 i::before, .u-check-icon-checkbox-v8 i::after, .u-check-icon-radio-v8 i::before, .u-check-icon-radio-v8 i::after {
  content: "";
  display: block;
  position: absolute; }

.u-check-icon-checkbox-v8 i::before, .u-check-icon-radio-v8 i::before {
  content: attr(data-uncheck-icon);
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: right;
  padding: 2px 7px; }

.u-check-icon-checkbox-v8 i::after, .u-check-icon-radio-v8 i::after {
  top: 50%;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  transition-property: left;
  transition-duration: .1s;
  transition-timing-function: ease-in; }

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v8,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v8,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v8,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v8,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v8,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v8,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v8,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v8 {
  color: #72c02c;
  border-color: #72c02c; }

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v8 i:before,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v8 i:before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v8 i:before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v8 i:before,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v8 i:before,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v8 i:before,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v8 i:before,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v8 i:before {
  content: attr(data-check-icon);
  text-align: left; }

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v8 i::after,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v8 i::after,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v8 i::after,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v8 i::after,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v8 i::after,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v8 i::after,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v8 i::after,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v8 i::after {
  left: calc(100% - 19px);
  background-color: #72c02c; }

/* P */
[class*="u-checkbox-v1"] {
  display: none; }

[class*="u-checkbox-v1"] + label {
  cursor: pointer; }

.u-checkbox-v1--checked-color-primary:checked + label {
  color: #72c02c !important; }

.u-checkbox-v1--checked-brd-primary:checked + label {
  border-color: #72c02c !important; }

/*------------------------------------
  Checkboxes v4
------------------------------------*/
.u-check-icon-checkbox-v4, .u-check-icon-radio-v4 {
  width: 18px;
  height: 18px;
  font-size: 12px;
  border: solid 1px #ccc; }

.u-check-icon-checkbox-v4 i::before, .u-check-icon-radio-v4 i::before {
  content: attr(data-uncheck-icon);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.u-check-icon-radio-v4 {
  border-radius: 50%; }

.u-check-icon-radio-v4 i {
  border-radius: 50%; }

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v4,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v4,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v4,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v4,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v4,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v4,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v4,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v4 {
  color: #72c02c;
  border-color: #72c02c; }

.u-check input[type="checkbox"]:checked + .u-check-icon-checkbox-v4 i::before,
.u-check input[type="checkbox"]:checked + .u-check-icon-radio-v4 i::before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-checkbox-v4 i::before,
.u-check input[type="checkbox"]:checked + * .u-check-icon-radio-v4 i::before,
.u-check input[type="radio"]:checked + .u-check-icon-checkbox-v4 i::before,
.u-check input[type="radio"]:checked + .u-check-icon-radio-v4 i::before,
.u-check input[type="radio"]:checked + * .u-check-icon-checkbox-v4 i::before,
.u-check input[type="radio"]:checked + * .u-check-icon-radio-v4 i::before {
  content: attr(data-check-icon); }

/*------------------------------------
  Icons Styles
------------------------------------*/
.u-icon-v1,
.u-icon-v2,
.u-icon-v3,
.u-icon-v4 {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in-out; }

.u-icon-v1:hover,
.u-icon-v2:hover,
.u-icon-v3:hover,
.u-icon-v4:hover {
  text-decoration: none; }

.u-icon-v1::before,
.u-icon-v2::before,
.u-icon-v3::before {
  display: block; }

.u-icon-v1 > i,
.u-icon-v2 > i,
.u-icon-v3 > i,
.u-icon-v4 > span > i {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2; }

[class*="u-icon-v"] .u-line-icon-pro {
  -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
          transform: translateY(-45%); }

.u-icon-rotation {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.u-icon-rotation .u-icon__elem {
  -webkit-transform: rotate(-45deg) translate(15%, -30%);
      -ms-transform: rotate(-45deg) translate(15%, -30%);
          transform: rotate(-45deg) translate(15%, -30%); }

.u-icon-rotation .u-line-icon-pro {
  -webkit-transform: rotate(-45deg) translate(25%, -30%);
      -ms-transform: rotate(-45deg) translate(25%, -30%);
          transform: rotate(-45deg) translate(25%, -30%); }

/*------------------------------------
  Icon-v1
------------------------------------*/
.u-icon-v1,
.u-icon-v1 .u-icon__elem-regular,
.u-icon-v1 .u-icon__elem-hover {
  width: 2.57143rem;
  height: 2.57143rem;
  font-size: 1.42857rem; }

.u-icon-v1.u-icon-size--xs,
.u-icon-v1.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v1.u-icon-size--xs .u-icon__elem-hover {
  width: 1.64286rem;
  height: 1.64286rem;
  font-size: 0.92857rem; }

.u-icon-v1.u-icon-size--sm,
.u-icon-v1.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v1.u-icon-size--sm .u-icon__elem-hover {
  width: 2.28571rem;
  height: 2.28571rem;
  font-size: 1.28571rem; }

.u-icon-v1.u-icon-size--lg,
.u-icon-v1.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v1.u-icon-size--lg .u-icon__elem-hover {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem; }

.u-icon-v1.u-icon-size--xl,
.u-icon-v1.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v1.u-icon-size--xl .u-icon__elem-hover {
  width: 5.14286rem;
  height: 5.14286rem;
  font-size: 2.85714rem; }

.u-icon-v1.u-icon-size--2xl,
.u-icon-v1.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v1.u-icon-size--2xl .u-icon__elem-hover {
  width: 5.85714rem;
  height: 5.85714rem;
  font-size: 3.57143rem; }

.u-icon-v1.u-icon-size--3xl,
.u-icon-v1.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v1.u-icon-size--3xl .u-icon__elem-hover {
  width: 8rem;
  height: 8rem;
  font-size: 5.71429rem; }

/*------------------------------------
  Icon-v2
------------------------------------*/
.u-icon-v2, .u-icon-v2 .u-icon__elem-regular,
.u-icon-v2 .u-icon__elem-hover, .u-icon-v3, .u-icon-v3 .u-icon__elem-regular,
.u-icon-v3 .u-icon__elem-hover, .u-icon-v4 .u-icon-v4-inner, .u-icon-v4 .u-icon__elem-regular,
.u-icon-v4 .u-icon__elem-hover, .u-icon-v5 {
  width: 3.92857rem;
  height: 3.92857rem;
  font-size: 1.57143rem; }

.u-icon-v2.u-icon-size--xs,
.u-icon-v2.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xs .u-icon__elem-hover, .u-icon-v3.u-icon-size--xs,
.u-icon-v3.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xs .u-icon__elem-hover, .u-icon-v4.u-icon-size--xs .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xs .u-icon__elem-hover, .u-icon-v5.u-icon-size--xs {
  width: 2.14286rem;
  height: 2.14286rem;
  font-size: 0.92857rem; }

.u-icon-v2.u-icon-size--sm,
.u-icon-v2.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v2.u-icon-size--sm .u-icon__elem-hover, .u-icon-v3.u-icon-size--sm,
.u-icon-v3.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v3.u-icon-size--sm .u-icon__elem-hover, .u-icon-v4.u-icon-size--sm .u-icon-v4-inner,
.u-icon-v4.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v4.u-icon-size--sm .u-icon__elem-hover, .u-icon-v5.u-icon-size--sm {
  width: 2.85714rem;
  height: 2.85714rem;
  font-size: 1.28571rem; }

.u-icon-v2.u-icon-size--lg,
.u-icon-v2.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v2.u-icon-size--lg .u-icon__elem-hover, .u-icon-v3.u-icon-size--lg,
.u-icon-v3.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v3.u-icon-size--lg .u-icon__elem-hover, .u-icon-v4.u-icon-size--lg .u-icon-v4-inner,
.u-icon-v4.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v4.u-icon-size--lg .u-icon__elem-hover, .u-icon-v5.u-icon-size--lg {
  width: 5rem;
  height: 5rem;
  font-size: 2.14286rem; }

.u-icon-v2.u-icon-size--xl,
.u-icon-v2.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--xl,
.u-icon-v3.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--xl {
  width: 6.42857rem;
  height: 6.42857rem;
  font-size: 2.85714rem; }

.u-icon-v2.u-icon-size--2xl,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--2xl,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--2xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--2xl {
  width: 7.14286rem;
  height: 7.14286rem;
  font-size: 3.21429rem; }

.u-icon-v2.u-icon-size--3xl,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--3xl,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--3xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--3xl {
  width: 9.28571rem;
  height: 9.28571rem;
  font-size: 3.57143rem; }

.u-icon-v2 {
  border-width: 1px;
  border-style: solid; }

.u-icon-v2.u-icon-size--2xl,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-hover {
  border-width: 1.5px; }

.u-icon-v2.u-icon-size--3xl,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-hover {
  border-width: 1.5px; }

/*------------------------------------
  Icon-v3
------------------------------------*/
.u-icon-v2, .u-icon-v2 .u-icon__elem-regular,
.u-icon-v2 .u-icon__elem-hover, .u-icon-v3, .u-icon-v3 .u-icon__elem-regular,
.u-icon-v3 .u-icon__elem-hover, .u-icon-v4 .u-icon-v4-inner, .u-icon-v4 .u-icon__elem-regular,
.u-icon-v4 .u-icon__elem-hover, .u-icon-v5 {
  width: 3.92857rem;
  height: 3.92857rem;
  font-size: 1.57143rem; }

.u-icon-v2.u-icon-size--xs,
.u-icon-v2.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xs .u-icon__elem-hover, .u-icon-v3.u-icon-size--xs,
.u-icon-v3.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xs .u-icon__elem-hover, .u-icon-v4.u-icon-size--xs .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xs .u-icon__elem-hover, .u-icon-v5.u-icon-size--xs {
  width: 2.14286rem;
  height: 2.14286rem;
  font-size: 0.92857rem; }

.u-icon-v2.u-icon-size--sm,
.u-icon-v2.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v2.u-icon-size--sm .u-icon__elem-hover, .u-icon-v3.u-icon-size--sm,
.u-icon-v3.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v3.u-icon-size--sm .u-icon__elem-hover, .u-icon-v4.u-icon-size--sm .u-icon-v4-inner,
.u-icon-v4.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v4.u-icon-size--sm .u-icon__elem-hover, .u-icon-v5.u-icon-size--sm {
  width: 2.85714rem;
  height: 2.85714rem;
  font-size: 1.28571rem; }

.u-icon-v2.u-icon-size--lg,
.u-icon-v2.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v2.u-icon-size--lg .u-icon__elem-hover, .u-icon-v3.u-icon-size--lg,
.u-icon-v3.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v3.u-icon-size--lg .u-icon__elem-hover, .u-icon-v4.u-icon-size--lg .u-icon-v4-inner,
.u-icon-v4.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v4.u-icon-size--lg .u-icon__elem-hover, .u-icon-v5.u-icon-size--lg {
  width: 5rem;
  height: 5rem;
  font-size: 2.14286rem; }

.u-icon-v2.u-icon-size--xl,
.u-icon-v2.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--xl,
.u-icon-v3.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--xl {
  width: 6.42857rem;
  height: 6.42857rem;
  font-size: 2.85714rem; }

.u-icon-v2.u-icon-size--2xl,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--2xl,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--2xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--2xl {
  width: 7.14286rem;
  height: 7.14286rem;
  font-size: 3.21429rem; }

.u-icon-v2.u-icon-size--3xl,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--3xl,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--3xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--3xl {
  width: 9.28571rem;
  height: 9.28571rem;
  font-size: 3.57143rem; }

.u-icon-v3 {
  background-color: #eee; }

/*------------------------------------
  Icon-v4
------------------------------------*/
.u-icon-v2, .u-icon-v2 .u-icon__elem-regular,
.u-icon-v2 .u-icon__elem-hover, .u-icon-v3, .u-icon-v3 .u-icon__elem-regular,
.u-icon-v3 .u-icon__elem-hover, .u-icon-v4 .u-icon-v4-inner, .u-icon-v4 .u-icon__elem-regular,
.u-icon-v4 .u-icon__elem-hover, .u-icon-v5 {
  width: 3.92857rem;
  height: 3.92857rem;
  font-size: 1.57143rem; }

.u-icon-v2.u-icon-size--xs,
.u-icon-v2.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xs .u-icon__elem-hover, .u-icon-v3.u-icon-size--xs,
.u-icon-v3.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xs .u-icon__elem-hover, .u-icon-v4.u-icon-size--xs .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xs .u-icon__elem-hover, .u-icon-v5.u-icon-size--xs {
  width: 2.14286rem;
  height: 2.14286rem;
  font-size: 0.92857rem; }

.u-icon-v2.u-icon-size--sm,
.u-icon-v2.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v2.u-icon-size--sm .u-icon__elem-hover, .u-icon-v3.u-icon-size--sm,
.u-icon-v3.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v3.u-icon-size--sm .u-icon__elem-hover, .u-icon-v4.u-icon-size--sm .u-icon-v4-inner,
.u-icon-v4.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v4.u-icon-size--sm .u-icon__elem-hover, .u-icon-v5.u-icon-size--sm {
  width: 2.85714rem;
  height: 2.85714rem;
  font-size: 1.28571rem; }

.u-icon-v2.u-icon-size--lg,
.u-icon-v2.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v2.u-icon-size--lg .u-icon__elem-hover, .u-icon-v3.u-icon-size--lg,
.u-icon-v3.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v3.u-icon-size--lg .u-icon__elem-hover, .u-icon-v4.u-icon-size--lg .u-icon-v4-inner,
.u-icon-v4.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v4.u-icon-size--lg .u-icon__elem-hover, .u-icon-v5.u-icon-size--lg {
  width: 5rem;
  height: 5rem;
  font-size: 2.14286rem; }

.u-icon-v2.u-icon-size--xl,
.u-icon-v2.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--xl,
.u-icon-v3.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--xl {
  width: 6.42857rem;
  height: 6.42857rem;
  font-size: 2.85714rem; }

.u-icon-v2.u-icon-size--2xl,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--2xl,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--2xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--2xl {
  width: 7.14286rem;
  height: 7.14286rem;
  font-size: 3.21429rem; }

.u-icon-v2.u-icon-size--3xl,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--3xl,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--3xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--3xl {
  width: 9.28571rem;
  height: 9.28571rem;
  font-size: 3.57143rem; }


/*------------------------------------
  Blockquotes
------------------------------------*/
.u-blockquote-v1 {
  position: relative;
  background-color: #fff;
  box-shadow: 5px 6px 9px -6px rgba(0, 0, 0, 0.15); }

.u-blockquote-v1::before {
  content: "\201C";
  position: absolute;
  width: 60px;
  color: #72c02c;
  font-size: 60px;
  margin: -25px 0 0 -40px; }

.u-blockquote-v1::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 80px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #fff transparent transparent transparent;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1)); }