.atau{
    margin-top: 15rem;
    position: relative;
    z-index: 1;
}
.atau__title{
    font-weight: 700;
    font-size: 4.8rem;
    color:white;
}
.atau__description{
    color:white;
    margin-top: 4rem;
    font-size: 2.5rem;  
}